<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantillas/headerAdmin :: head"></head>
<body>
<div th:replace="plantillas/headerAdmin :: sidebar"></div>

<main id="main" class="main container">


    <!-- Sección de detalles generales del pedido -->

    <!-- Tarjeta del Detalle del Pedido -->
    <div class="card shadow-sm col-md-12 " >


        <div class="card-body">
            <h2 class="card-title" th:text="${titulo}">Detalle del Pedido</h2>

            <div th:if="${not #lists.isEmpty(pedido)}" class="row mb-4">
                <div th:each="item : ${pedido}" class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-0 h-100">
                        <div class="card-header bg-primary text-white">
                            <h5> Cliente : <span th:text="${item.anonimoNombre != null ? item.anonimoNombre : item.cliente.nombre}"></span></h5>
                        </div>
                        <div class="card-body">
                            <p><strong>Fecha de operación: </strong><span th:text="${item.fechaOperacion}"></span></p>
                            <p><strong>Método de pago: </strong><span th:text="${item.metodoPago}"></span></p>
                            <p><strong>Estado: </strong><span th:text="${item.estado}" class="badge badge-warning"></span></p>
                            <p><strong>Cantidad: </strong><span th:text="${item.cantidadP}"></span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${not #lists.isEmpty(entrega)}" class="row mb-4">
                <div th:each="item : ${entrega}" class="col-md-6 col-lg-4">
                    <div class="card shadow-sm border-0 h-100">
                        <div class="card-header bg-primary text-white">
                            <h5> Empleado  : <span th:text="${item.empleado.nombre+' '+item.empleado.apellido}" class="mb-0"></span></h5>
                        </div>
                        <div class="card-body">
                            <h5> N° de entrega : <span th:text="${item.idEntrega}" class="mb-0"></span></h5>
                            <p><strong>Fecha de operación: </strong><span th:text="${item.fechaEntrega}"></span></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tabla de Detalles del Pedido -->
            <div th:if="${not #lists.isEmpty(listPedidoDetalle)}" class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Producto</th>
                        <th scope="col">Cantidad</th>
                        <th scope="col">Precio Unitario</th>
                        <th scope="col">Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item : ${listPedidoDetalle}">
                        <td th:text="${item.producto.getNombre()}"></td>
                        <td th:text="${item.cantidad}"></td>
                        <td th:text="${item.precio}"></td>
                        <td th:text="${item.subtotal}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- Mensaje cuando no hay detalles del pedido -->
            <div th:if="${#lists.isEmpty(listPedidoDetalle)}">
                <div class="alert alert-info" role="alert">
                    No hay detalles de productos para este pedido.
                </div>
            </div>
        </div>
    </div>
</main><!-- End #main -->

<div th:replace="plantillas/headerAdmin :: recursoJS"></div>

</body>
</html>
